*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{   
    height: 100vh;
    background-color: #3e70b2;
}
.container-fluid h1{
    text-align: center;
    color: aliceblue;
    border-bottom: solid 1px rgba(255, 255, 255, 0.116);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 5px 5px 70px #000;
}
.container-password-guiche{
    display: flex;
    text-align: center;
    color: white;
}
.password-guiche h2{  
   text-align: center;
    color: rgb(255, 255, 255);
}
.password-guiche span{    
    font-size: 3rem;
    font-weight: 700;
    color: aquamarine;
}
.chamada{
    width: 930px;
    height: 687px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    background: #000000;
    overflow-y: auto;
    padding: 20px;
    border-radius: 20px;
}
.chamada  ul{ width: inherit }

.chamada::-webkit-scrollbar{ background-color: transparent }

.chamada::-webkit-scrollbar-thumb{
    background-color: aliceblue;
    border-radius: 10px;
}
.chamada ul li:nth-child(even){ background-color: rgba(255, 255, 255, 0.13) }

.chamada ul li{
    display: flex;
    justify-content: space-around;
    color: aqua;
    font-size: 2rem;
}
.chamada ul li:first-child{
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}
.control{ text-align: center }

.title{
    color: aliceblue;
    background-color: #3e70b2;
    padding: 30px;
    font-size: 2rem;
    text-align: center;
}
.active{ display: none }

video{ width: inherit }